/* banner */

#hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url("imgs/printing.gif");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    padding: 10%;
    height: 100%;
    width: 100%;
    
}

#hero-text {
    text-align: left;
}

#hero-text p, #hero-text h1 {
    color: white;
}

/* body stylings*/
body{
    background-color: #eeeeee;
    
}
#content{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;

    background-color: #ffffff;
    box-shadow: 0 10px 7px 0 grey;

    padding: 1%;
    margin: 1% 0;
    
}

div#body {
    display: flex;
    flex-direction: row;
    
}

/* Navigation Menu*/
nav{
    padding: 1%;
}
nav ul{
    overflow: hidden;
    list-style-type: none;
    
    background-color: #ffffff;
    box-shadow: 0 10px 7px 0 grey;

    position: -webkit-sticky;
    position: sticky;
    top: 0;

    margin: 1%;
}

nav a{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

nav li a:hover {
    background-color:#4472C4;
    color:white;
}

/*Picture Styling*/
img{
    max-width: 75%;
    height: auto;
    margin: 10px;
    box-shadow: 0 2px 7px 0 grey;
}
.large{
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}  
.symbol{
    display: inline;
    width: 15px;
    height: auto;
    margin: 0;
    box-shadow: 0 0 white;
}

.shadowless{
    box-shadow: 0 0 white;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
    padding: 5px;
}


/* Table styling*/

table{
    max-width: 75%;
    height: auto;
    background-color: white;
    text-align: left;
    border-spacing: 0px;
    border-collapse: collapse;
    margin: 5px;
    border: 1px solid lightgray;
    border-collapse: collapse;
    box-shadow: 0 2px 7px 0 grey;
}

th, td, tr{
    padding: 5px;
}

tr:nth-child(even){
    background-color:#D9E2F3;
}

th{
    background-color:#4472C4;
    color:white;
}

/* Text styling */

h1{
    color: #1674aa;
}
h2{
    color: #115a85;
}
h3{
    color: #0d5077;
}
h4{
    color: #0a486b;
}
p, body li, td{
    color: rgb(50, 50, 50);
    font-size: 1.125em;
}
